*{margin: 0;
    padding: 0%;}
    header{
        width: 100vw;
        height: 100vh;
        background-image: url(about-bg-5.jpg);
        background-position: bottom;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    filter: brightness(80%);
    }
    
    
    
        .header-content{
            margin-bottom: 150px;
            color: white;
            text-align: center;
    
        }
        .t1{
            font-size: 5vmin;
        }
        .t2{
            width: 150px;
            height: 4px;
            background-color: red;
            margin: 10px auto;
            border-radius: 30px;
        }
        .t3{
            font-size: 12vmin;
            margin-top: -30px;
            margin-bottom: 30px;
            font-weight: bolder;
        }
        .t4{
            padding: 8px 15px;
            background: rgb(220, 8, 114);
            border-radius: 30px;
            color: aliceblue;
        }
        .B1{
            padding: 8px 15px;
            background: rgb(220, 8, 114);
            border-radius: 30px;
            color: aliceblue;
            position: absolute;
            margin-left: 850px;
            
    
        }
        
        
        .hamza {
            font-size: 30px;
            margin-left: 50px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        .navbar-nav{
            margin-left: 320px;
            font-size: 13px;
            font-weight: bolder;
            
        }
        .nav-item{
            margin-left: 30px;
        }
        
    .row{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    
    }
    .row .col{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ak8{
        font-size: 4vmin;
        font-weight: bold;
        margin-top: 30px;

    }
    .ik{

        height: 50px;
    }
    .ak2{
        font-size: 2.4vmin;
    }
    .ak3{
        padding: 8px 15px;
        background: rgb(220, 8, 114);
        border-radius: 30px;
        color: aliceblue;

    }
    .ak7{font-size: 2.4vmin;}
    .ali{
        background-color: gainsboro;
        margin-top: 100px;
    }
    .jk{
        height: 80px;
        
    }
    
.site-footer {
    background-color: var(--ast-global-color-2);
    background-image: none;
    text-align: center;
    background-color: black;
    color: white;
}
*, :after, :before {
    box-sizing: inherit;
}
user agent stylesheet
footer {
    display: block;
    unicode-bidi: isolate;
}
    
    

    @media (max-width: 850px) {
        .row{
            flex-direction: column;
        }
         .col img{
            max-width: 90%;
         }
         .row .col{
            margin: 20px auto;

         }
         .ali{
            flex-direction: column;
            
         }
         .col  ali2{
            max-width: 90%;
         }
         .row .col{
            margin: 20px auto;}
            
            .hina-Content{
                width: 100%;
                

            }
            
        
            





    }